extends layout
block content
	.presentation
		.navigation.prev 
		.navigation.next
		each slide, i in slides
			- var actual = i;
			- var next = i+1 >= slides.length ? i : i+1;
			- var prev = i-1 < 0 ? i : i-1;
			.slide(data-actual='#{i}', data-next='#{next}', data-prev='#{prev}') 
				img(src='/img/slides/Slide#{i+1}.jpg', width='1024', height='768')
	script
		var slide = $('.slide');
		var body = $('body');
		var presentation = $('.presentation');
		var next = function(){
			var active = $('.active');
			var actual = active.data('actual');
			var next = active.data('next');
			presentation.find('div[data-actual="'+actual+'"]').removeClass('active');
			presentation.find('div[data-actual="'+next+'"]').addClass('active');
			body.css('background-color', active.data('color'));
		};
		var prev = function(){
			var active = $('.active');
			var actual = active.data('actual');
			var prev = active.data('prev');
			presentation.find('div[data-actual="'+actual+'"]').removeClass('active');
			presentation.find('div[data-actual="'+prev+'"]').addClass('active');
			body.css('background-color', active.data('color'));
		};
		$(function(){
			slide.eq(0).addClass('active');
			$('.next').click(function(){
				next();	
			});
			$('.prev').click(function(){
				prev();
			});
		});
		var socket = io.connect('#{host}');
		socket.on('admin_online', function(){
			$('.navigation').hide();
		});
		socket.on('admin_offline', function(){
			$('.navigation').show();
		});
		socket.on('public_slide_next', function(){
			$('.navigation').hide();
			next();
		});
		socket.on('public_slide_prev', function(){
			$('.navigation').hide();
			prev();
		});